@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;  
}

body{
    margin:0;
}
.container, .row{
   width: 1109px;  
}
h1,h2, h3,h4,h5,p{
    font-family: 'Hind Siliguri';
    font-style: normal;
    

}
h1,h2{
    margin:0;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: #292830;
    
}
h3{
    font-weight: 700;
    font-size: 72px;
    color: #292830;
}
h4{
    font-weight: 500;
    font-size: 30px;
    color: #292830;
}
h5{
    font-weight: 600;
    font-size: 24px;
    color: #292830;
}
p{
    font-weight: 400;
    font-size: 24px;
    color: #BDBDBD;
    
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-top{
    margin-top: 57px;
    width: 1408px ;

}
.hedaer-logo{
   background: #FF7235;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   /* display: flex;*/
    margin-top: 3px;
}
.header-x{
    position:absolute;
    margin-left: 14px;

    width: 13px;
    height: 23px;
    font-family: 'Hind Siliguri';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    color:#FFFFFF; 
}
.header-pense{
    position: relative;
    margin-left: 52px;
    width: 60px;
    height: 22px;

    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: #292830;
}
.header-nav{
    margin-top:8px;
}
.header-nav-item{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #292830;

    margin-right: 40px;
}
.header-nav-item:last-child{
    margin-right: 0px;
}
.header-button{
    width: 160px;
    height: 48px;

    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #FF7235;

    background: #FFFFFF;
    border: 1px solid #FF7235;
    border-radius: 8px;

   
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-top{
    margin-top:106px;
    margin-bottom: 211px;
    width: 1440px ;

}

.hero-button{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    border:0;

    width: 225px;
    height: 75px;
    background: #FF7235;
    border-radius: 8px;
}

.hero-button-text{
    display: inline-block;
    position: relative;
    margin-left: 24px;
}


.product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
 position: relative;
 
}
.product-top{
    position: relative;
    background: #FF7235;
    width: 1440px ;
    height:712px;
    padding-top: 57px;
    z-index: 1;
}
.product-vector1{
    position: absolute;
    margin-left: 920px;
    margin-top: -57px;
    z-index: 2;
}
.product-vector2{
    position: absolute;
    margin-top: 230px;
    margin-left: -104px;
    z-index: 2;
}
.product-img{
    position:relative;
    padding: 0;  
    z-index: 3;
}
.product2{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.product2-main{
    width: 1440px ;
    height: 188px;
    margin-top: 66px;
}

.feature1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature1-top{
    width: 1440px;
    padding-top: 142px;
    padding-bottom: 141px;
}

.feature1-text1{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #BDBDBD;

}
.feature1-text2{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FF7235;

}
.feature1-img{
    padding-top: 51px;
}

.feature2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature2-img{
    padding-top: 36px;
}
.feature3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productFeatures{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productFeatures-top{
    width: 1440px;
    padding-top: 142px;
    padding-bottom: 141px;
}
.productFeatures-cards{
    padding-top: 80px;
}
.productFeatures-cross{
    display: inline-block;
    justify-items: center;
    align-items: center;
    border-radius: 32px;
    width: 64px;
    height: 64px;
    background: rgba(255, 189, 116, 0.05);
    margin-top: 65px;
}
.productFeatures-logos{
 padding-top:17px;
}
.productFeatures-cloud{
    display: inline-block;
    justify-items: center;
    align-items: center;

    border-radius: 32px;
    width: 64px;
    height: 64px;
    background: rgba(226, 89, 139, 0.05);
    margin-top: 65px;
}
.productFeatures-pure{
    display: inline-block;
    justify-items: center;
    align-items: center;

    border-radius: 32px;
    width: 64px;
    height: 64px;
    background: rgba(77, 18, 238, 0.05);
    margin-top: 65px;
}
.productFeatures-arrow{
    color: #292830;
}
.alwaysonline{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alwaysonline-top{
    width: 1440px;
    padding-top: 142px;
    padding-bottom: 141px;
}
.alwaysonline-text{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #292830;
}
.alwaysonline-text2{
    color: #292830;
    margin-bottom: 0;
}
.alwaysonline-text3{
    margin-bottom: 0;
    color: #BDBDBD
}
.alwaysonline-text4{
    font-size: 12px;
    margin-top: 0;
}
.alwaysonline-button{
    border: 1px solid #FF7235;
    border-radius: 8px;

    background: none;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FF7235;

    padding: 12px 24px;
}
.alwaysonline-arrow{
    padding-left: 10px;
}
.alwaysonline-button2{
    border: 1px solid #FF7235;
    border-radius: 8px;

    background: #FF7235;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 24px;
}

.slide-text{
    font-weight: 400;
    font-size: 18px;
    color: #000000;
   
}
.slide-text2{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-top{
    width: 1440px;
    padding-top: 121px;
    padding-bottom: 121px;

}
.testomonial-card{
 padding-top: 80px;
}
.slides{
    padding-top: 24px;
}


.testimonial-bg2{
    border: 1px solid #F5F5F5;
    border-radius: 12px; 
}

.testimonial-bg{
    background: #FFBE21;
    border-radius: 12px 12px 0px 0px;
    height: 12px;
}
.testimonial-bg3{
    background:#4756DF;
    border-radius: 12px 12px 0px 0px;
    height: 12px;
}
.testimonial-bg4{
    background: #3EC1F3;
    border-radius: 12px 12px 0px 0px;
    height: 12px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-top{
    width: 1440px;
    padding-top: 120px;
    background: #FF7235;

    position: relative;
}
.wrapper{
    position: relative;
}
.banner-vector{
    position:absolute;
    z-index: 0;
    margin-left: 913px;
    margin-top: -120px;
   
}
.banner-vector2{
    position:absolute;
    z-index: 0;
    margin-top: 174px;
    margin-left: -112px;

}
.banner-topText{
    position: absolute;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 72px;
    margin: 0;
    text-indent: 0;
    line-height: 1.0;
    z-index: 2;
    padding-left: 163px;
    
}
.banner-text{
    color: #FFFFFF;
    font-size: 36px;
    padding-top: 137px;
    
    margin:0;

   
}
.banner-button{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FF7235;
    border:0;

    width: 225px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 60px;
}
#banner-image{
 padding-bottom: 92.77px;
 
}
.banner-image3{
    position:absolute;
    z-index: 2;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-top{
    margin-top: 82px;
    width: 1408px ;

}

.footer-heading{
    font-size: 24px;
    margin:5px;
}
.footer-text{
    font-size: 18px;
    color: #292830;
}
.footer-over25000{
    font-size: 20px;
}

.footer-subscribe{
   position:relative; 
}
.footer-inputText{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #292830;
    background: #FFFFFF;
    border: 1px solid #292830;
    border-radius: 8px;
    width: 349px;
    height: 62px;

}
::placeholder {
    padding-left: 23px;
    color: #292830;
}
.footer-button{
    position: absolute;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

    background: #FF7235;
    border-radius: 8px;
    border: none;
    width: 102px;
    height: 48px;
    right: 12px;
    top:7px;
}
.alwaysonline{

}

.footer-smallest{
    font-weight: 400;
font-size: 14px;
}
.footer-lasttext{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #292830;
    margin:0;
    }
.footer-lasttext1{
        font-family: 'Hind Siliguri';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #292830;
       
        padding-left: 24px;
}
.footer-lastline{
    padding-top: 58px;
    padding-bottom: 90px;
}